<div class="row">
    <div class="col">
        <span>Search: <input ng-model="$ctrl.query" /></span>
        <span>Sort by: <select ng-model="$ctrl.orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="age">Newest</option>
                    </select>
        </span>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="list-group photo-list">
            <li class="list-group-item" ng-repeat="photo in $ctrl.photos | filter:$ctrl.query  | orderBy:$ctrl.orderProp" >
                <a href="#!/photos/{{photo.id}}" class="thumb">
                    <img ng-src="{{photo.imageUrl}}" alt="{{photo.name}}" />
                </a>
                <a href="#!/photos/{{photo.id}}">{{photo.name}}</a>
                <p>{{photo.snippet}}</p>
            </li>
        </ul>
    </div>
</div>
